/* Index.html CSS */
.title {
	margin-left:40%;
}

.description {
	padding-top:15%;
	margin-left:34.5%;
}

form select option::hover {
	color:#DB3857;
}

#index_button {
	margin-top: 5px;
	margin-left:30%;
	width:30%;
}

.link_items {
	list-style-type: none;
	display: inline-block;
}

.sub_title_bar ul {
	padding: 10px;
	padding-top: 4px;
	margin-left: auto;
	display: inline;
}

.sub_title_bar ul li {
	line-height: 2.5em;
	margin-left: 2px;
	padding: 15px 160px;
	font-size:20px;
	list-style: none;
	display: inline;
}

.name_link {
	position: relative;
}


/* Universal form CSS */

.form_container {
	margin-left:34%;
	padding-top:1%;
	width:40%;
}

.form_container .type_name {
	font-weight:bold;
}

/*Override Foundation button class with "Appy Red"*/
.form_container .button  {
	background-color:#DB3857;
	text-decoration:none;
	margin-top:5px;
}

.form_container .button:hover {
	background-color:#DB3857;
}



/* Appy Couple Logo CSS (When Utilized)*/
.logo {
	padding-top:200px;
	margin-top:40px;
	margin-left:48%;
	background-image:url('http://www.appycouple.com/sites/all/themes/appycouple/images/appylogo.png');
	background-repeat:no-repeat;
	background-size:119px auto;

}

/* Univeral Template Pages CSS */
.template_background {
	background-color:rgb(255,255,255);
}

.title_bar {
	padding-top: 8px;
	height: 40px;
    background-color:#DB3857;
	font-family:Helvetica, sans-serif;
	text-align:center;
	color: rgb(255,255,255);
}

.sub_title_bar {
	height:50px;
	background-color: rgb(93,91,92);
	font-family:Helvetica, sans-serif;
	font-size: 24px;
	color:rgb(255,255,255);
	text-align:center;
}

.form_container textarea {
	resize:none;
	height: 200px;
}






