/* Index.html CSS */
.title {
	margin-left: 40%;
}

form select option::selection{
	background-color: #DB3857;
}

/* Form.html CSS */

.form_container {
	margin-left: 30%;
	padding-top: 1%;
	width: 40%;
}

.form_container .type_name {
	font-weight: bold;
}

/*Override Foundation button class with "Appy Red"*/
.form_container .button  {
	background-color: #DB3857;
	text-decoration: none;
}

.form_container .button:hover {
	background-color: #DB3857;
}



/* Appy Form and Invite Page CSS */
.logo {
	padding-top:200px;
	margin-top: 40px;
	margin-left:45%;
	background-image: url('http://www.appycouple.com/sites/all/themes/appycouple/images/appylogo.png');
	background-repeat: no-repeat;
	background-size: 119px auto;

}

