
/* Appy Couple Logo CSS (When Utilized)*/
.logo {
	padding-top:200px;
	margin-top:40px;
	margin-left:48%;
	background-image:url('http://www.appycouple.com/sites/all/themes/appycouple/images/appylogo.png');
	background-repeat:no-repeat;
	background-size:119px auto;
}

/* To override Chrome User Agent Stylesheet for select elements */
.form_conatiner select option {
	display: inline-block;
}

/* Index.html CSS */
.title {
	font-family: Helvetica, sans-serif;
	margin-left:40%;
}

.description {
	position: relative;
	font-family: Helvetica, sans-serif;
	top: 18px;
	padding-top:18%;
	margin-left:41%;
}

.form_container .chosen_template {
	position: relative;
	width: 10px;
	margin-top: -10px;
	text-align: center;
}

.form_container .chosen_template option {
	margin-right: -1%;
	font-family: Helvetica, sans-serif;
	text-align: center;
	padding: 4px;
}

.form_container select option:hover {
	background-color: #DB3857;
}

#index_button {
	position: relative;
	clear: both;
	display: block;
	margin-top: 8px;
	margin-left:40%;
	width:20%;
}

.link_items {
	list-style-type: none;
	display: inline-block;
}

.sub_title_bar {
	line-height: 2em;
}

.sub_title_bar ul {
	padding: 10px;
	padding-top: 4px;
	margin-left: auto;
	display: inline;
}

.sub_title_bar ul a {
	color: white;
}

.sub_title_bar ul li {
	line-height: 2.5em;
	margin-left: 2px;
	padding: 15px 160px;
	font-family: Helvetica, sans-serif;
	font-size:20px;
	list-style: none;
	display: inline;
}

.name_link {
	font-family: Helvetica, sans-serif;
	position: relative;
}


/* Universal Form CSS */
.form_container label {
	padding-top: 20px;
	float:left;
	display: inline;
	margin-left: 10px;
}

.form_container input {
	clear: right;
	font-family: Helvetica, sans-serif;
	display: inline-block;
	margin-left: 2px;
}

.form_container input::selection {
	display: inline-block;
	margin-left: 2px;
	font-family: Helvetica, sans-serif;
	background-color: #DB3857;
	color: #FFFFFF;
}

.form_container .type_name {
	font-weight:bold;
}

.form_container select {
	width:60%;
	margin-left: 20%;
}

.form_container select option {
	margin-left: 10px;
}


.form_container .select_section {
	position: relative;
	margin-top: 2px;
	margin-right: 200px;
}

.form_container .select_invite_option {
	text-align: left;
	font-family: Helvetica, sans-serif;
	position: relative;
	float: left;
	margin: 0;
	width: 180px;
}

.form_container .select_invite_option option {
	text-align: left;
	margin-left: 2px;
}
.form_container .label {
	margin-right: 2px;
}

.form_container .select_invite_option option:hover {
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	border: none;
	background-color: #DB3857;
	color: #FFFFFF;
}


/*Override Foundation button class with "Appy Red"*/
.form_container .button  {
	background-color:#DB3857;
	text-decoration:none;
	margin-top:8px;
	width: 150px;
}


.form_container .button:hover {
	background-color:#DB3857;
}

.form_container .button:select {
	background-color:#DB3857;
}

/* Separate page Continue/Back button styles */
#p1_back_button {
  position: relative;
  margin-top: 214px;
  right: 68px;
}

#p1_continue_button {
  position: relative;
  margin-top: 214px;
  right: 68px;
}
#p2_back_button {
	position: relative;
	left: 8px;
	margin-top: -5px;
	margin-left: 444px;
}

#p2_continue_button {
 position: relative;
 left: 2px;
 background-color:#DB3857;
 margin-top: -56.4px;
 margin-left: 602px;
 width: 180px;
 height: 40px;
}

#p3_back_button {
  position: relative;
  margin-top: 200px;
  left: 45px;
}

#p3_continue_button {
  position: relative;
  margin-top: 200px;
  left: 45px;
}


/* Template Pages CSS */
.template_background {
  background-color:rgb(255,255,255);
}

.title_bar {
	padding-top: 8px;
	height: 40px;
    background-color:#DB3857;
	font-family:Helvetica, sans-serif;
	text-align:center;
	color: rgb(255,255,255);
}

.sub_title_bar {
	height:50px;
	background-color: rgb(93,91,92);
	font-family:Helvetica, sans-serif;
	font-size: 24px;
	color:rgb(255,255,255);
	text-align:center;
}

.form_container label {
	position: relative;
	display: inline-block;
	margin-top: 100px;
	padding-right: 10px;
	margin-right: 2px;
}

.form_container #invite_label {
	position: relative;
	left: 500px;
	top: -80px;
}

.form_container #invite_type {
	position: relative;
	top: 80px;
	left: 230px;
}

.invite_clicked {
	background: yellow;
}

.form_container #host_label {
	position: relative;
	top: -4px;
	bottom: 195px;
	left: 300px;
}

.form_container #hosting_choice {
	position: relative;
	top: 150px;
	right: 110px;
}

#hosting_choice input:selection {
	background: yellow;
}

.header_section h3 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	padding-top: 22px;
}

/* Specific to Save The Date website textfield */
.form_container #website_textfield {
	width: 116%;
}

/* Display Customized Template Styles */
.customized_template_preview_area .button {
	background-color:#DB3857;
	text-decoration:none;
	margin-left:10%;
	margin-top:5px;
}

.customized_template_preview_area .button:hover {
	background-color:#DB3857;
} 

/* Download and Print Button Styles */

.button_area {
	position: relative;
	right: 25px;
}
.button_area .button {
	background-color: #DB3857;
	width: 110px;
}


.button_area .button:hover {
	background-color: #DB3857;
}

/* formal_invitation.php styles */
.invite_container {
	border: 2px solid black;
	margin-left: 25%;
	width: 50%;
	height: 68%;
}
.invite_container p {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.button_area {
	margin-top: 20px;
	margin-left: 636px;
}


/* customize_page_one.php styles */
.page_one_inputs {
	position: relative;
	bottom: 80px;
	margin-left: 318px;
	width: 60%;
}

.page_one_inputs label {
	position: relative;
	top: 120px;
	margin-top: -2px;
}

.form_container .page_one_inputs #address_field {
	width: 326%;
}

/* customize_page_two.php styles */
.input_fields {
	margin-top: 50px;
	margin-left: 280px;
	padding-right: 4px;
}

.input_fields input {
	width: 300px;
}

#hosting_buttons {
	position: relative;
	left: 250px;
	top: 135px;
}

.button-group {
	position: relative;
	top: 200px;
	right: -18px;
}

/* customize_page_three css */
.clicked {
	background-color: blue !important;
}

/* Add CSS for ContentTools on Invitation Templates */

[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}








