
/* Appy Couple Logo CSS (When Utilized)*/
.logo {
	padding-top:12.5em;
	margin-top:2.5em;
	margin-left:48%;
	background-image:url('http://www.appycouple.com/sites/all/themes/appycouple/images/appylogo.png');
	background-repeat:no-repeat;
	background-size:119px auto;
}

/* Index.html CSS */
.title {
	font-family: Helvetica, sans-serif;
	margin-left:40%;
}

.description {
	font-family: Helvetica, sans-serif;
	padding-top:18%;
	margin-left:41%;
}

.form_container select {
	margin-top: -1.25em;
	text-align: center;
}

.form_container select option {
	margin-right: -1%;
	font-family: Helvetica, sans-serif;
	text-align: center;
	padding: 0.25em;
}

.form_container select option:hover {
	background-color: #DB3857;
}

#index_button {
	margin-top: 0.3125em;
	margin-left:35%;
	width:30%;
}

.link_items {
	list-style-type: none;
	display: inline-block;
}

.sub_title_bar {
	line-height: 2em;
}

.sub_title_bar ul {
	padding: 0.625em;
	padding-top: 0.25em;
	margin-left: auto;
	display: inline;
}

.sub_title_bar ul a {
	color: white;
}

.sub_title_bar ul li {
	line-height: 2.5em;
	margin-left: 0.125em;
	padding: 0.9375em 10em;
	font-family: Helvetica, sans-serif;
	font-size: 1.25em;
	list-style: none;
	display: inline;
}

.name_link {
	font-family: Helvetica, sans-serif;
	position: relative;
}


/* Universal Form CSS */
.form_container label {
	padding-top: 1.25em;
	float:left;
	display: inline;
	margin-left: 0.625em;
}

.form_container input {
	clear: right;
	font-family: Helvetica, sans-serif;
	display: inline-block;
	margin-left: 0.125em;
}

.form_container input::selection {
	display: inline-block;
	margin-left: 0.125em;
	font-family: Helvetica, sans-serif;
	background-color: #DB3857;
	color: #FFFFFF;
}

.form_container .type_name {
	font-weight:bold;
}

.form_container select {
	width:60%;
	margin-left: 20%;
}

.form_container select option {
	margin-left: 0.625em;
}


.form_container .select_section {
	position: relative;
	margin-top: 0.125em;
	margin-right: 12.5em;
}

.form_container .select_invite_option {
	text-align: left;
	font-family: Helvetica, sans-serif;
	position: relative;
	float: left;
	margin: 0;
	width: 11.25em;
}

.form_container .select_invite_option option {
	text-align: left;
	margin-left: 0.125em;
}
.form_container .label {
	margin-right: 0.125em;
}

.form_container .select_invite_option option:hover {
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	border: none;
	background-color: #DB3857;
	color: #FFFFFF;
}


/*Override Foundation button class with "Appy Red"*/
.form_container .button  {
	background-color:#DB3857;
	text-decoration:none;
	margin-top: 0.5em;
	width: 9.375em;
}


.form_container .button:hover {
	background-color:#DB3857;
}

.form_container .button:select {
	background-color:#DB3857;
}

/* Separate page Continue/Back button styles */


#p1_back_button {
  position: relative;
  margin-top: 13.75em;
  right: 4.25em;
}

#p1_continue_button {
  position: relative;
  margin-top: 13.75em;
  right: 4.25em;
}
#p2_back_button {
	position: relative;
	left: 0.5em;
	margin-top: -0.5em;
	margin-left: 27.75em;
}

#p2_continue_button {
 position: relative;
 left: 0.125em;
 background-color:#DB3857;
 margin-top: -3.525em;
 margin-left: 37.625em;
 width: 11.25em;
 height: 2.5em;
}

#p3_back_button {
  position: relative;
  margin-top: -0.625em;
  left: 15.5em;
}

#p3_continue_button {
  position: relative;
  margin-top: -0.625em;
  left: 15.5em;
}


/* Template Pages CSS */
.template_background {
  background-color:rgb(255,255,255);
}

.title_bar {
	padding-top: 0.5em;
	height: 2.5em; 
    background-color:#DB3857;
	font-family:Helvetica, sans-serif;
	text-align:center;
	color: rgb(255,255,255);
}

.sub_title_bar {
	height: 3.125em;
	background-color: rgb(93,91,92);
	font-family:Helvetica, sans-serif;
	font-size: 1.5em;
	color:rgb(255,255,255);
	text-align:center;
}

.form_container label {
	position: relative;
	display: inline-block;
	margin-top: 6.25em;
	padding-right: 0.625em;
	margin-right: 0.125em;
}

.form_container #invite_label {
	position: relative;
	left: 5.625em;
	top: 2.5em;
}

.form_container #host_label {
	position: relative;
	bottom: 12.1875em;
	left: 37.125em;
}


#invite_type_select {
	position: relative;
	margin-top: 2.5em;
	margin-right: 18.75em;
	width: 40%;
	right: 8.75em;
}

#who_is_hosting {
	position: relative;
	margin-right: 9.375em;
	width: 40%;
	left: 11.25em;
	bottom: 2.0625em;
}
.header_section h3 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	padding-top: 1.375em;
}

/* Specific to Save The Date website textfield */
.form_container #website_textfield {
	width: 116%;
}

/* CKEditor TextArea CSS */
.editor_section {
	margin-top: 10em;
	margin-right: 0.125em;
}
.editor_section .button {
	background-color: #DB3857;
	margin-top: 0.625em;
	width: 6.25em;
}

.editor_section .button:hover {
	background-color: #DB3857;
}

/* Display Customized Template Styles */
.customized_template_preview_area .button {
	background-color:#DB3857;
	text-decoration:none;
	margin-left:10%;
	margin-top: 0.3125em;
}

.customized_template_preview_area .button:hover {
	background-color:#DB3857;
} 

/* Download and Print Button Styles */

.button_area {
	position: relative;
	right: 5em;
}
.button_area .button {
	background-color: #DB3857;
	width: 6.875em;
}


.button_area .button:hover {
	background-color: #DB3857;
}

/* formal_invitation.php styles */
.invite_container {
	position: relative;
	border: 0.125em solid black;
	margin-left: 25%;
	width: 50%;
	height: 68%;
}
.invite_container p {
	position: relative;
	width: 100%;
	text-align: center;
	font-family: Helvetica, sans-serif;
	overflow: auto;
}

.button_area {
	margin-top: 1.25em;
	margin-left: 39.75em;
}


/* customize_page_one.php styles */
.page_one_inputs {
	position: relative;
	bottom: 5em;
	margin-left: 19.875em;
	width: 60%;
}

.page_one_inputs label {
	position: relative;
	top: 7.5em;
	margin-top: -0.125em;
}

.form_container .page_one_inputs #address_field {
	width: 326%;
}

/* customize_page_two.php styles */
.input_fields {
	margin-top: 3.125em;
	margin-left: 17.5em;
}

.input_fields input {
	width: 18.75em;
}

/* Add CSS for ContentTools on Invitation Templates */

[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}








