/* Form.html CSS */

.form_styles {
	margin-left: 40%;
}



/* Appy Invite Page CSS */
#logo {
	padding-top:200px;
	margin-top: 40px;
	margin-left:45%;
	background-image: url('http://www.appycouple.com/sites/all/themes/appycouple/images/appylogo.png');
	background-repeat: no-repeat;
	background-size: 119px auto;

}

